* {
  margin: 0;
  padding: 0;
  font-family: poppins;
}
#our {
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: #ffff;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.title-work h1 {
  text-align: center;
  font-family: poppins;
  font-style: normal;
  font-size: 48px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 72px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px 0;
}

.container .card {
  position: relative;
  width: 395px;
  height: 400px;
  margin: 20px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  display: flex;
  align-items: center;
}

.container .card .content {
  position: absolute;
  bottom: -165px;
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  backdrop-filter: blur(15px);
  box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: bottom 0.5s;
}

.container .card:hover .content {
  bottom: 0px;
}

.container .card .content .contentBx h3 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin: 20px 0 15px;
  line-height: 1.1em;
  transition: 2s;
  opacity: 0;
  transform: translateY(-20px);
}

.container .card:hover .content .contentBx h3 {
  opacity: 1;
  transform: translateY(0px);
}

.explore {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.explore a {
  font-family: roboto;
  text-decoration: none;
  color: #000;
  font-weight: 300;
  font-size: 27px;
  align-items: center;
  transition: 0.5s;
  border-radius: 30px;
}

.explore a:hover {
  padding: 9px 30px;
  background-color: black;
  color: white;
}

@media screen and (max-width: 800px) {
  #our {
    display: block;
    height: 100%;
  }
  .container .card {
    height: 100%;
  }
  .imgBx img {
    width: 100%;
    height: 100%;
  }
  #our {
    padding: 0;
  }
}
