* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.contact-footer {
  height: 100vh;
}

.contact {
  width: 100%;
  height: 100%;
  padding: 5px;
  text-align: center;
  background: #212e60;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contact .title h1 {
  font-weight: 300;
  font-size: 3em;
}
.contact .link {
  background: #212e60;
}

.navigation {
  display: flex;
  padding: 10px 0;
}

.menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-align: left;
  width: 100%;
  padding: 4vw 11vw;
}

.menu a {
  text-decoration: none;
  position: relative;
  display: inline-block;
  font-size: 2.1875em;
  font-weight: 300;
  color: white;
  transition: color 0.2s ease;
  padding: 3px 0;
  margin-bottom: 15px;
  width: 100%;
}

.menu li a {
  display: flex;
  height: 80%;
}
.menu li a span:nth-child(1) {
  width: 10%;
}
.menu li a span:nth-child(2) {
  width: 40%;
}
.menu li a span:nth-child(3) {
  width: 50%;
  text-align: right;
}
.menu a:hover {
  color: #aaa;
}
.menu a:hover::after,
.menu a:hover::before {
  width: 100%;
  left: 0;
  height: 5%;
}
.menu a::after,
.menu a::before {
  content: "";
  position: absolute;
  top: calc(100% + 5px);
  height: 5%;
  width: 0;
  right: 0;
}
.menu a::before {
  transition: width 0.4s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
  background: #444f8a;
}
.menu a::after {
  transition: width 0.2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
  background: #f49f58;
}
.menu li {
  display: flex;
}
.contact .content {
  background: #212e60;
}
.contact .content .go-up {
  width: 15%;
  padding: 25px 0px;
  margin: auto;
}
.contact .content .go-up:hover {
  cursor: pointer;
  color: wheat;
}

.contact .content h3 {
  font-weight: 300;
  font-size: 36px;
  color: white;
}

footer {
  width: 100%;
  text-align: center;
  background: #212e60;
  color: grey;
  font-size: 1em;
}
footer p {
  margin: auto 0;
}
.go-up {
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  .contact {
    width: 100%;
  }
  .contact-footer {
    height: 100%;
  }
  .contact .title h1 {
    font-weight: 300;
    padding-top: 15px;
    font-size: 2em;
  }
  .contact {
    width: 100%;
    height: 50%;
    padding: 5px;
    text-align: center;
    background: #212e60;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .navigation {
    padding-top: 20px;
  }
  .menu {
    padding: 0 30px;
  }
  .menu a {
    font-size: 0.8em;
  }
  .menu li a {
    display: flex;
    height: 50%;
  }
  .menu li a span:nth-child(1) {
    width: 10%;
  }
  .menu li a span:nth-child(2) {
    width: 40%;
  }
  .menu li a span:nth-child(3) {
    width: 55%;
    text-align: right;
  }
  .contact .content .go-up {
    width: 50%;
    margin: auto;
  }
  .contact .content .go-up h3 {
    font-size: 1em;
  }
  footer {
    font-size: 14px;
  }
}
