@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    
}

/* HOME | Teks atas home & foto 1 */
@media only screen and (max-width: 768px) {
    /* For tablets: */
    .banner {
        width: 185%;
        height: 120vh;
        
    }
    .teksabt h2{
       width: 0;
       left: 695px;

    }
    .textAbt {
        width: 70%;
        margin-left: 300px;
    }
    .textAbt img{
        width: 155%;
    }
    .about .form2 .textAbt p{
        width: 155%;
        height: 75vh;
    }
    
  }
.home{
    background : #F9E8DE;
}
.banner {
    font-family: 'Roboto' ;
    
}
.banner .form1{
    margin: auto;
    display: flex;
}

.banner h2 { 
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
    color: #F49F58;
}

.banner span{
    color: #444F8A;;
}
.banner p {
    position: absolute;
    font-style: normal;
    font-size: 28px;
    line-height: 33px;

}
.textBx {
    padding: 20px;
    width: 50%;
}
.textBx img {
    display: block;
    max-width: 100%;
}


/* teks about */
.teksabt h2 {
    font-family: 'Poppins';
    position: absolute;
    font-style: normal;
    font-size: 40px;
    top: 600px;
    text-align: center;
    right: 40%;
}


/* about yang di home */

.about{
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}


.about .form2{
    margin: auto;
    display: flex;
}
.textAbt {
    position: absolute;
    left: 50%;
    padding: 15px;
}
.textAbt img{
    display: block;
    max-width: 100%;
}

.about p {
    font-family: 'Roboto' ;
    margin-top: 30px;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 33px;
}
.about a {
    position: absolute;
    display: flex;
    width: 500px;
    height: 100px;
    left: 700px;
    top: 1100px;

    font-family: 'Roboto' ;
    text-decoration: none;
    color: black;

}
.about span:nth-of-type(2){
    color: #F49F58;
    }
.about span:nth-of-type(1){
    color: #444F8A;
    }


/* cover about page*/

.aboutUs {
    font-family: 'Poppins';
}

.aboutUs .form3 {
    margin: auto;
    height: 630px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background : #F9E8DE;
}

.aboutUs .textAbt2 {
    text-align: center;
    font-size: 72px;
    line-height: 40px;
}

.aboutUs .textAbt2 p {
    font-size: 28px;
    text-align: center;
    font-family: 'Roboto' ;
}
.aboutUs span:nth-of-type(2){
    color: #F49F58;
    }
.aboutUs span:nth-of-type(1){
    color: #444F8A;
    }

    
/* judul */
.origin .texthope {
    width: auto;
    font-size: 48px;
    text-align: center;
    left: 42%;
    top: 1000px;
}
.texthope span:nth-of-type(2){
    color: #F49F58;
    }
.texthope span:nth-of-type(1){
    color: #444F8A;
    }
/* after cover 1 */

.container {
    background: white;
    font-family: 'Poppins';
}
.origin{
    
    padding: 0;
    margin: 0;
}

.origin .form4 {
    
    margin: auto;
    display: flex;
}

.origin .textCrt{
    left: 50%;
    padding: 70px;
    display: flex;
}
.origin p {
    font-style: normal;
    font-size: 28px;
    line-height: 33px;
    font-family: 'Roboto' ;
}
.origin img {
    display: block;
    max-width: 100%;
}
/* judul 2 */
.goals .textgoals {
    width: auto;
    font-size: 48px;
    text-align: center;
    left: 42%;
    top: 1000px; 
}
/* after cover 2 */
.goals {
    padding: 0;
    margin: 0;
}

.goals .form5 {
    right: 50%;
    padding: 70px;
    display: flex;
}
.goals .textgls {
    left: 50%;
    padding: 70px;
    display: flex;
}
.goals p {
    font-style: normal;
    font-size: 28px;
    line-height: 33px;
    font-family: 'Roboto' ;
}
.goals img {
    display: block;
    max-width: 100%;
    height: auto;
}
/* judul 3 */

.vision .textvision {
    width: auto;
    font-size: 48px;
    text-align: center;
    left: 42%;
    top: 1000px; 
}
/* after cover 3 */

.vision {
    padding: 0;
    margin: 0;
}
.vision .form6 {
    margin: auto;
    display: flex;
}
.vision .textvsn {
    left: 50%;
    padding: 70px;
    display: flex;
}
.vision p{
    font-style: normal;
    font-size: 28px;
    line-height: 33px;
    font-family: 'Roboto' ;
}
.vision img {
    display: block;
    max-width: 100%;
}

/* judul 4 */
.mision .textmision {
    width: auto;
    font-size: 48px;
    text-align: center;
    left: 42%;
    top: 1000px; 
}

/* after cover 4 */
.mision {
    padding: 0;
    margin: 0;
}
.mision .form7 {
    margin: auto;
    display: flex;
}
.mision .textmsn {
    left: 50%;
    padding: 70px;
    display: flex;
}
.mision p{
    font-style: normal;
    font-size: 28px;
    line-height: 33px;
    font-family: 'Roboto' ;
}
.mision img {
    display: block;
    max-width: 100%;
}
