@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home {
  background: #f9e8de;
}
section {
  padding: 0 20px;
}
.banner {
  font-family: "Roboto";
  width: 100%;
  display: flex;
}
.banner h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 60px;
  color: #f49f58;
}

.banner span {
  color: #444f8a;
}
.banner p {
  font-style: normal;
  font-size: 28px;
  line-height: 33px;
  text-justify: inter-word;
}
.text-banner {
  padding: 50px;
  width: 50%;
}
.image-banner {
  width: 50%;
  padding: 50px;
}
.image-banner img {
  max-width: 100%;
}
/* HOME | Teks atas home & foto 1 */
@media only screen and (max-width: 768px) {
  .banner {
    flex-direction: column;
    flex-flow: column-reverse;
  }
  .text-banner {
    padding: 30px 0;
    width: 100%;
    text-align: center;
  }
  .banner h2 {
    font-size: 35px;
    line-height: 35px;
  }
  .banner p {
    margin-top: 20px;
    font-size: 20px;
    line-height: 25px;
  }
  .image-banner {
    width: 100%;
    padding: 0 20px;
  }
}

/* teks about */
.judul-about h2 {
  font-family: "Poppins";
  font-style: normal;
  font-size: 40px;
  top: 600px;
  text-align: center;
}

/* about yang di home */

.about {
  display: flex;
}

.text-about {
  /* position: absolute; */
  width: 100%;
  padding: 50px;
}
.image-about {
  width: 100%;
  padding: 50px;
}
.image-about img {
  max-width: 100%;
}

.about p {
  text-justify: inter-word;
  font-size: 28px;
  line-height: 33px;
  margin-top: 18px;
}
.about a {
  width: 500px;
  height: 100px;
  left: 700px;
  top: 1100px;
  font-family: "Roboto";
  text-decoration: none;
  color: black;
}
.text-about a h2 {
  margin-top: 5em;
}
.link-about {
  left: 50%;
  padding: 20px;
}
.about span:nth-of-type(2) {
  color: #f49f58;
}
.about span:nth-of-type(1) {
  color: #444f8a;
}

/* HOME | Teks atas home & foto 1 */
@media only screen and (max-width: 768px) {
  .judul-about h2 {
    font-size: 40px;
    top: 600px;
    text-align: center;
  }
  .about {
    flex-direction: column;
  }
  .image-about {
    width: 100%;
    padding: 0 20px;
    text-align: center;
  }
  .about p {
    margin-top: -25px;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
  }
  .link-about {
    left: 50%;
    padding: 20px;
    text-align: center;
  }
}

/* cover about page*/

.aboutUs {
  font-family: "Poppins";
  width: 100%;
  display: flex;
  height: 630px;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  background: #f9e8de;
}

.text-aboutUs h1 {
  text-align: center;
  font-size: 72px;
  line-height: 70px;
}

.text-aboutUs p {
  font-size: 28px;
  text-align: center;
  font-family: "Roboto";
}
.aboutUs span:nth-of-type(2) {
  color: #f49f58;
}
.aboutUs span:nth-of-type(1) {
  color: #444f8a;
}
@media only screen and (max-width: 768px) {
  .text-aboutUs h1 {
    font-size: 40px;
    line-height: 50px;
  }
  .text-aboutUs p {
    font-size:14px;
  }
}
/* container */

.container {
  background: white;
  font-family: "Poppins";
  padding: 20px;
}
/* judul */
.text-littlehope {
  padding: 20px;
  width: auto;
  font-size: 48px;
  text-align: center;
  left: 42%;
  top: 1000px;
}
.text-littlehope span:nth-of-type(2) {
  color: #f49f58;
}
.text-littlehope span:nth-of-type(1) {
  color: #444f8a;
}
/* after cover 1 */
.origin {
  display: flex;
}

.text-origin{
  width: 100%;
  padding: 50px;
}
.origin p {
  height: 100%;
  font-size: 28px;
  line-height: 33px;
  font-family: "Roboto";
  margin-top: 50px;
}
.origin .image-origin{
  padding: 50px;
}

@media only screen and (max-width: 768px) {
  .text-littlehope {
    padding: 10px;
    font-size: 20px;
  }
  .origin {
    flex-direction: column;
    flex-flow: column-reverse;
  }
  .text-origin {
    padding: 30px 0;
    width: 100%;
  }
  .origin p {
    margin-top: 20px;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
  }
  .image-origin {
    width: 100%;
    text-align: center;
  }
  .image-origin img {
    max-width: 100%;
  }
}
/* judul 2 */

.judul-goals{
  width: auto;
  font-size: 40px;
  text-align: center;
  left: 42%;
  top: 1000px;
}
/* after cover 2 */
.goals {
  display: flex;
}
.text-goals {
  width: 100%;
  padding: 150px;
}
.goals p {
  height: 100%;
  font-size: 28px;
  line-height: 33px;
  font-family: "Roboto";
  margin-top: 50px;
}
.goals img {
  padding: 50px;
}
@media only screen and (max-width: 768px) {
  .judul-goals{
    font-size: 20px;
  }
  .goals {
    flex-direction: column;
    flex-flow: column-reverse;
  }
  .text-goals {
    padding: 30px 0;
    width: 100%;
  }
  .goals p {
    margin-top: 20px;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
  }
  .image-goals {
    width: 100%;
    padding: 0 ;
    text-align: center;
    order: 1 ;
  }
  .image-goals img {
    max-width: 100%;
    margin-top: 0px;
  }
}
/* judul 3 */

.judul-vision {
  width: auto;
  font-size: 40px;
  text-align: center;
  left: 42%;
  top: 1000px;
}
/* after cover 3 */

.vision {
  display: flex;
}
.text-vision {
  width: 100%;
  padding: 50px;
 
}
.vision p {
  height: 100%;
  font-size: 28px;
  line-height: 33px;
  font-family: "Roboto";
  margin-top: 50px;
}
.vision img {
  padding: 50px;
  margin-top: 120px;
}

@media only screen and (max-width: 768px) {
  .judul-vision {
    font-size: 20px;
  }
  .vision {
    flex-direction: column;
    flex-flow: column-reverse;
  }
  .text-vision {
    padding: 30px 0;
    width: 100%;
  }
  .vision p {
    margin-top: 20px;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
  }
  .image-vision {
    width: 100%;
    padding: 0 ;
    text-align: center;
  }
  .image-vision img {
    max-width: 100%;
    margin-top: 0px;
  }
}
/* judul 4 */
.judul-mision {
  width: auto;
  font-size: 40px;
  text-align: center;
  left: 42%;
  top: 1000px;
}

/* after cover 4 */
.mision {
  display: flex;
}
.text-mision {
  width: 100%;
  padding: 150px;
}
.mision p {
  height: 100%;
  font-size: 28px;
  line-height: 33px;
  font-family: "Roboto";
  margin-top: 50px;
}
.mision img {
  padding: 50px;
  margin-top: 240px;
}

@media only screen and (max-width: 768px) {
  .judul-mision {
    font-size: 20px;
  }
  .mision {
    flex-direction: column;
    flex-flow: column-reverse;
    
  }
  .text-mision {
    padding: 30px 0;
    width: 100%;
  }
  .mision p {
    margin-top: 20px;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
  }
  .image-mision {
    width: 100%;
    padding: 0 ;
    text-align: center;
    order: 1 ;
  }
  .image-mision img {
    max-width: 100%;
    margin-top: 0px;

  }
}