@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background : #F9E8DE;
    
}
/* banner pertama */
section{
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;

}
.banner {
    font-family: 'Roboto' ;
}
.banner .form1{
    margin: auto;
    display: flex;
}

.banner h2 { 
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
    color: #F49F58;
}

.banner span{
    color: #444F8A;;
}
.banner p {
    position: absolute;
    font-style: normal;
    font-size: 28px;
    line-height: 33px;

}
.textBx {
    padding: 20px;
    width: 50%;
}
.textBx img {
    display: block;
    max-width: 100%;
}

/* teks about */
.teksabt h2 {
    font-family: 'Poppins';
    position: absolute;
    font-style: normal;
    font-size: 40px;
    top: 600px;
    text-align: center;
    right: 40%;
}
/* banner kedua */
.about{
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}
/* about */

.about .form2{
    margin: auto;
    display: flex;
}
.textAbt {
    position: absolute;
    left: 50%;
    padding: 15px;
}
.textAbt img{
    display: block;
    max-width: 100%;
}

.about p {
    font-family: 'Roboto' ;
    margin-top: 30px;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 33px;
}
.about a {
    position: absolute;
    display: flex;
    width: 500px;
    height: 100px;
    left: 700px;
    top: 1100px;

    font-family: 'Roboto' ;
    text-decoration: none;
    color: black;

}
.about span:nth-of-type(2){
    color: #F49F58;
    }
.about span:nth-of-type(1){
    color: #444F8A;
    }